.primary-btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #4a77d4;
  font-weight: 700;
  width: 100px;
  align-self: center;
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 9px !important;
  border: 1px solid #c7c8cb !important;
  color: #9e9ea6 !important;
  background: #fff;
  font-size: 14px;
}
